global-exclude *.pyc
include README.md
include README_developer.md
include manifest.json
include orion-requirements.txt
exclude requirements.txt
include setup.py
include {{cookiecutter.module_name}}/*
include tests/*
